.bar.bar-nav {
  position: static;
}
/*Global CSS*/

body {
  text-align: center;
}

 .ui-page .ui-header {
    background: #FF0000;
	min-height: 30px;
  }
.pageHeader{
	padding-top: 15px;
}
.appHeaderMenu{
	position: absolute;
    left: 3%;
}
.appHeaderText {
	font-size: 1.5em;
	color: #FFFFFF;
	vertical-align: middle;
}
.menuDivider{
	background: #FF0000;
}
.verticalAlignMiddle {
	vertical-align: middle;
}
.scrollable5 {
	height: 100%;
    overflow: scroll;
}
.pageContentPadding{
	padding-top: 20px; 
}

}/*pictures*/
.clubLogoVerySmall{
  height: 55px;
  width: 40px;
}
.clubLogoMedium{
  height: 40%;
  width: 40%;
}

.image30 {
  height: 30%;
  width: 30%;
}
.image45 {
  height: 45%;
  width: 45%;
}
.image60 {
  height: 60%;
  width: 60%;
}
.image90 {
  height: 90%;
  width: 90%;
}

/*Page Specific CSS*/

/*Challenge Player*/


/*end of challenge player CSS*/

/*MyChallenge Page*/
#myActiveChallengesTable{
	padding: 5px;
	margin-left: auto;
    margin-right: auto;
	width: 90%;
	margin: 0 auto;
	border-collapse: separate;
    border-spacing: 0 1em;
}
.activeChallengeRow{
	background: white;
    box-shadow: 3px 3px 5px #666;
    padding: 12px;
	color: #000000;
}
.challengeAccepted {
	background:  #94FF70;
	border-radius: 4%;
}
.awaitingResponseOpponent{
	background: #FFFF80;
	border-radius: 4%;
}

.awaitingResponseUser{
	background: #FFB84D; 	
	border-radius: 4%;
}

/*end of MyChallenge Page CSS*/

/*Newsfeed Page*/
#newsfeedJoinLeaderboard{
	background: white;
    border-left: 3px solid #38678B;
	border-top: 3px solid #38678B;
	border-right: 3px solid #24435B;
	border-bottom:  3px solid #24435B;
    padding: 12px;
}
#NewsFeedTable{
	padding: 5px;
	margin-left: auto;
    margin-right: auto;
	width:95%;
}
#NewsfeedTable{
	width: 90%;
	margin: 0 auto;
	border-collapse: separate;
    border-spacing: 0 1em;
}
.newsfeedlogoImage{
	height: 30px;
	width: 30px;
}
/*   */
.newsfeedContent{
	text-align: left;
	padding-left: 20px;
}
.newsfeedRow{
	background: white;
    box-shadow: 3px 3px 5px #666;
    padding: 12px;
}
.newsFeedMediaImage{
	max-width: 100%;
    max-height: 100%;
}
.newsfeedRefresh{
	position: absolute;
    right: 3%;
}

/*End of Newsfeed Page CSS*/

/*My Profile Page CSS*/
#matchStatsTotalGames{
	background:
}
#matchStatsTotalWins{
	background: #4ACAB4;
}
#matchStatsTotalLoses{
	background: #878BB6
}

/*End of My Profile Page*/


/*Leaderboard Page*/
#LeaderboardTable{
    border: 1px solid Red;
    padding: 5px;
	margin-left: auto;
    margin-right: auto;
	width:95%;
}
#LeaderboardTable th{
	background-color: Red;
    color: white;
	text-align: center;
}
#LeaderboardTable tr:nth-child(odd) {
    background-color: #eee;
}
#LeaderboardTable1 tr:nth-child(even) {
   background-color:#fff;
  }

/*end of Leaderboard page CSS*/

/*need to sort out*/

.clubPicture{
  height: 50%;
  width: 90%;
}



.scroll46 {
	background-color: #00FFFF;
	height: 270px;
    overflow: scroll;
}
	


.RulesStylings {
	text-align: left;
}

.borderSmall{
    border:3px;
}


.userMatchResult{
	padding:5px;
}





