.bar.bar-nav {
  position: static;
}

body {
  text-align: center;
}
#squashTeamPic{
  height: 50%;
  width: 90%;
}
#squashSocialPic{
  height: 50%;
  width: 90%;
}
.clubLogoVerySmall{
  height: 55px;
  width: 40px;
}
.clubLogoMedium{
  height: 40%;
  width: 40%;
}

.image30 {
  height: 30%;
  width: 30%;
}
.image45 {
  height: 45%;
  width: 45%;
}
.image60 {
  height: 60%;
  width: 60%;
}
.image90 {
  height: 90%;
  width: 90%;
}
.image30 {
  height: 30%;
  width: 30%;
}



.pageContentPadding{
padding-top: 20px; 
}

.scroll46 {
	background-color: #00FFFF;
	height: 270px;
    overflow: scroll;
	}
	
.scrollable5 {
	height: 100%;
    overflow: scroll;
	}

#LeaderboardTable{
    border: 1px solid Red;
    padding: 5px;
	margin-left: auto;
    margin-right: auto;
	width:95%;
}

#LeaderboardTable th{
	background-color: Red;
    color: white;
	text-align: center;
}
#LeaderboardTable tr:nth-child(odd) {
    background-color: #eee;
}
#LeaderboardTable1 tr:nth-child(even) {
   background-color:#fff;
  }


